:root {
  --primary-color: #f97316;
  --secondary-color: #fb923c;
  --background-color: #f8f9fa;
  --text-color: #212529;
  --card-bg-color: #ffffff;
  --border-radius: 18px;
  --box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background-color);
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
