<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{{url_for('static', filename='css/loginStyle.css')}}">
    <script language="JavaScript" src="{{url_for('static', filename='js/script2.js')}}" defer="defer"></script>
</head>

<body>

	<header class='sticky'>
        <nav class="navbar">
          <div class="navbar-left">
            <a href="#">
              <img src="img/logo.png" alt="Logo conjug.fr">
              <span class="navbar-title">conjug.fr</span>
            </a>
          </div>
          <div class="navbar-right">
            <div class="github-button"><a href="https://github.com/Tezay/conjug" target="blank">GitHub</a></div>
            <div class="connexion-button">Connexion</div>
          </div>
        </nav>
      </header>



<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{{url_for('signup')}}" method="post" name="signup">
			<h1>Créer un compte</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-apple-login"></i></a>
			</div>
			<span>ou utilisez votre adresse mail</span>
<!--			<input type="text" placeholder="Nom d'utilisateur" name="username" />-->
			<input type="email" placeholder="Email" name="email"/>
<!--			<input type="password" placeholder="Mot de passe" name="password"/>-->
			<button>Créer un compte</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{{url_for('signin')}}" method="post" name="signin">
			<h1>Se connecter</h1>
			<div class="social-container">
				<a href="#" class="social"><i class="fab fa-google-plus-g"></i></a>
				<a href="#" class="social"><i class="fab fa-apple-login"></i></a>
			</div>
			<span>ou utilisez votre compte conjug.fr</span>
			<input type="email" placeholder="Email" />
			<input type="password" placeholder="Mot de passe" />
			<a href="#">Un probème ? Nous contacter</a>
			<button>Connexion</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Déjà un compte ?</h1>
				<p>Connectez vous avec votre adresse mail ou votre compte Google</p>
				<button class="ghost" id="signIn">Se connecter</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Pas encore de compte ?</h1>
				<p>Créer un compte dès maintenant pour enregistrer vos statistiques !</p>
				<button class="ghost" id="signUp">Créer un compte</button>
			</div>
		</div>
	</div>
</div>

</body>

</html>