<!DOCTYPE html>
<html lang="fr">

<head>

  {% include 'heritage_template/meta.html' %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}">
  
  <title>Italien - conjug.fr</title>
</head>

<body>

  {% include 'heritage_template/header.html' %}


  <h1>Prochainement disponible !</h1>


  {% include 'heritage_template/footer.html' %}

</body>

</html>