<!DOCTYPE html>
<html lang="fr">

<head>

  {% include 'heritage_template/meta.html' %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/exercice.css')}}">
  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/scriptItalian.js') }}"></script>

  <title>Italien - conjug.fr</title>
</head>

<body>


  {% include 'heritage_template/header.html' %}

  <div class="main-container">

      <div class="parameters-container">

          <form id="initialisation" action="{{url_for('it')}}" method="post" name="form1">

              <div class="times-container">
                  <div class="parameter-title">
                      <h2>Séléctionner les temps à réviser</h2>
                  </div>
                  <div class="times-list">
                      <div class="time-input">
                          <input type="checkbox" name="temps[]" value="futur" id="1" {{banane}}>
                          <label for="futur">Futur</label>
                      </div>
                      <div class="time-input">
                          <input type="checkbox" name="temps[]" value="conditionnel" id="2" {{banane2}}>
                          <label for="conditionnel">Conditionnel</label>
                      </div>
                      <div class="time-input">
                          <input type="checkbox" name="temps[]" value="présent" id="3" {{banane3}}>
                          <label for="present">Présent de l'indicatif</label>
                      </div>
                      <div class="time-input">
                          <input type="checkbox" name="temps[]" value="imparfait" id="4" {{banane4}}>
                          <label for="imparfait">Imparfait</label>
                      </div>
                      <div class="time-input">
                          <input type="checkbox" name="temps[]" value="passé simple" id="5" {{banane5}}>
                          <label for="passé-simple">Passé simple</label>
                      </div>
                  </div>
              </div>

              <div class="switch-container">
                  <div class="parameter-title">
                      <h2>Séléctionner les verbes à conjuguer</h2>
                  </div>
                  <div class="switch-toggle">
                      <input type="radio" name="drone" value="reguliers" id="reguliers" {{kiwi}}>
                      <label for="reguliers">Réguliers</label>
        
                      <input type="radio" name="drone" value="tous" id="tous" {{kiwi2}}>
                      <label for="tous">Tous</label>
        
                      <input type="radio" name="drone" value="irreguliers" id="irreguliers" {{kiwi3}}>
                      <label for="irreguliers">Irréguliers</label>
                  </div>
              </div>

              <div class="parameters-button-container">
                  <button class="submit-button">
                      <span class="button-content">Confirmer les paramètres</span>
                  </button>
              </div>
          
          </form>

      </div>

      <div class="exercice-container">
          <div class="exercice-title">
              <h1>Conjugue le verbe en italien</h1>
          </div>
          <div class="exercice-section">
              <div class="exercice-question">
                  <div class="exercice-image">
                      <img src="https://cdn.discordapp.com/attachments/1098726716798673016/1099104373650497647/mexicain.png">
                  </div>
                  
                  {% if rappel != "" %}
                  
                  <div>
                      <div class="exercice-reminder">
                          <span>Erreur récente sur ce verbe, essaye à nouveau !</span>
                      </div>
                      <div class="exercice-verb-reminder">
                          <span>({{pronouns}}) {{verb}} [{{time}}]</span>
                      </div>
                  </div>
                  
                  {% else %}

                  <div class="exercice-verb">
                      <span>({{pronouns}}) {{verb}} [{{time}}]</span>
                  </div>
                  
                  {%endif%}

              </div>
              <form id="actualisation" action="{{url_for('it')}}" method="post" name="form2">
                  <div class="exercice-input">
                      {% if reponseUser == "" %}
                      <input value="{{reponseVerb}}" type="text" id="response" name="reponse" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" lang="it" placeholder="Entrer le verbe conjugué">
                      {% else %}
                      <input value="{{reponseVerb}}" type="text" id="response" name="reponse" autocapitalize="off" autocomplete="off" autocorrect="off" spellcheck="false" lang="it" placeholder="Entrer le verbe conjugué" readonly>
                      {% endif %}
                  </div>
              </form>
              <div class="exercice-special-characters">
                  <button id="a" onclick="insertCharacter('à')">à</button>
                  <button id="i" onclick="insertCharacter('ì')">ì</button>
                  <button id="o" onclick="insertCharacter('ò')">ò</button>
                  <button id="u" onclick="insertCharacter('ù')">ù</button>
                  <button id="e" onclick="insertCharacter('è')">è</button>
              </div>
          </div>
      </div>
  </div>

  {% if reponseUser == "" %}

  <div class="interaction-container" id="interaction-default">
      <div class="interaction-grid">
          <div class="skip-container">
              <button class="skip-button" name="skip">
                  <span class="button-content">Passer</span>
              </button>
          </div>
          <div class="lesson-container">
              <button class="lesson-button">
                  <span class="button-content">Un doute ? Revoir la leçon !</span>
              </button>
          </div>
          <div class="confirm-container">
              <button class="submit-button" type="submit" form="actualisation">
                  <span class="button-content">Valider</span>
              </button>
          </div>
      </div>
  </div>

  {% elif reponseUser == True %}

  <div class="interaction-container" id="right-answer">
      <div class="interaction-grid">
          <div class="correction-left-container">
              <div class="image-container">
                  <img src="{{ url_for('static', filename='assets/right-answer.svg') }}" class="interaction-image" alt="Wrong response Image">
              </div>
              <div class="correction-container">
                  <div class="correction-title-container">
                      <h3>Bonne réponse !</h3>
                  </div>
              </div>
          </div>
          <div class="lesson-container">
              <button class="lesson-button">
                  <span class="button-content">Un doute ? Revoir la leçon !</span>
              </button>
          </div>
          <div class="pass-button">
              <form action="{{url_for('it')}}" method="post">
                  <button name="continue" class="submit-button" type="submit">
                      <span class="button-content">Continuer</span>
                  </button>
              </form>
          </div>
      </div>
  </div>

  {%else%}

  <div class="interaction-container" id="wrong-answer">
      <div class="interaction-grid">
          <div class="correction-left-container">
              <div class="image-container">
                  <img src="{{ url_for('static', filename='assets/wrong-answer.svg') }}" class="interaction-image" alt="Wrong response Image">
              </div>
              <div class="correction-container">
                  <div class="correction-title-container">
                      <h3>La réponse était :</h3>
                  </div>
                  <div class="correction-texte-container">
                      <p>➡️ {{reponseUser}}</p>
                  </div>
              </div>
          </div>
          <div class="lesson-container">
              <button class="lesson-button">
                  <span class="button-content">Un doute ? Revoir la leçon !</span>
              </button>
          </div>
          <div class="pass-button">
              <form action="{{url_for('it')}}" method="post">
                  <button name="continue" class="submit-button" type="submit">
                      <span class="button-content">Continuer</span>
                  </button>
              </form>
          </div>
      </div>
  </div>

  {%endif%}

  {% include 'heritage_template/footer.html' %}

</body>

</html>