body {
	background-color: white;
	font-family: Rubik, Calibri, Arial, Helvetica, sans-serif;
	color:white;
}

/**header**/

header {
	background-image: linear-gradient(to right, #BF616A, #D08770);
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 100px;
	padding: 0 20px;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
}
  
  .logo {
	display: flex;
	align-items: center;
}
  
  .logo img {
	height: 70px;
	margin-right: 20px;
}
  
  .logo h1 {
	font-size: 35px;
	font-weight: bold;
	margin: 0;
  }
  
  .github-link {
	background-color: #3B4252;
	color: white;
	margin-right: 15px;
	padding: 12px 22px;
	border-radius: 8px;
	font-size: 18px;
	text-decoration: none;
	transition: background-color 0.2s;
  }
  
  .github-link:hover {
	background-color: #4C566A;
	margin-left: auto;
  }
  

.header a:hover {
  color: #81a1c1;
}

/**Main**/

.main {
	display: flex;
	align-items:first baseline;
}

h2 {
	font-size: 26px;
	color:#BF616A;
}

button {
	display: inline-flex;
    align-items: center;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
	border:none;
    border-radius: 8px;
    background: none;
	padding: 12px 22px;
    color: white;
	background-image: linear-gradient(to right, #BF616A, #D08770);
	transition: background-color 0.2s;
}

button:hover {
	background-image: linear-gradient(to right, #c84f5b, #d76f4f);
	color: white;
  }

/**Times**/

.times {
	float: left;
	width: auto;
    margin-left: 40px;
    margin-top: 140px;
    padding: 10px 40px 30px;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}


  .times label {
	font-size: 20px;
	color:#713124;
  }
  
  .times input[type="checkbox"] {
	margin-right: 20px;
	margin-bottom: 25px;
	transform: scale(3);
  }

.times button {
	text-align: center;
	margin-top: 10px;
}


/**Exercice**/

.exercice {
	
	margin:40px;
	padding: 10px 30px 20px;

  	border-width: 0px;
  	border-style: solid;
	border-radius: 8px;
	display: none;
	background-color: white;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
}


input[type="text"] {
	font-size: 18px;
	border-radius: 8px;
	border-width: 2px;
	border: none;
    background: none;
	padding: 12px 22px;
    color: #3B4252;
	background-color: #E5E9F0;
	margin:20px 20px 0px;
	
}

.exercice form {
	display: flex;
	align-items:first baseline;
}

.exercice label {
	display: flex;
	align-items: center;
	font-size: 18px;
}

.displayPerson, .displayVerb, .displayTime {
	border: none;
	border-radius: 8px;
	margin-right: 10px;
	padding: 0px 10px;
	background-image: linear-gradient(to right, #BF616A, #D08770);
	color: white;
}

.verif {
    vertical-align: middle;
    float: none;
    display: flex;
    flex-direction: column;
}

.verif p {
    font-size: 20px;
	color:#713124;
	text-align: center;
}

/**Infos**/

.infos {

	padding: 10px 30px 20px;
  	border-width: 0px;
  	border-style: solid;
	border-radius: 8px;
	display: none;
	background-color: white;
	box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3);
	color:#713124;
	text-align: center;
}

.infos table {
	width: 100%;
	border-collapse: collapse;
	border-radius: 8px;
	margin: 0 auto;
  }
  
.infos td {
	width: 50%;
	text-align: center;
	border: 1px solid #D08770;
	padding: 10px;
  }



/**Footer**/

footer {
	background-color: #ECEFF4;
	color: #4C566A;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 30px;
  }

  .container {
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
  }
