<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Condicional</h1>
<div><h2>Terminasions:</h2>
    <ul>
        <li>tous les verbes : Infinitif + ía, ías, ía, íamos, íais, ían. (= terminaisons de l'auxiliaire
            HABER à l’imparfait)
        </li>
        <li>Irrégularités: Les irrégularités du radical sont les mêmes que celles du futur decir : diría ;
            haber : habría ; hacer : haría ; poder : podría ; poner : pondría ; querer : querría ; saber :
            sabría ; salir : saldría ; tener : tendría ; valer : valdría ; venir : vendría
        </li>
        <li>Remarque : Les conditionnels des verbes deber, haber, poder et querer sont souvent remplacés par
            leur imparfait du subjonctif (On dit ainsi « Quisiera saber… » pour traduire « j’aimerais
            savoir… » ou « Hubiera dicho »).
        </li>
    </ul>
</div>
</body>
</html>