<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Presente de indicativo</h1>
<div><h2>Terminasions:</h2>
    <ul>
        <li>verbes en -AR : radical + o, as, a, amos, áis, an. (hablo, hablas, habla, hablamos,
            habláis, hablan)
        </li>
        <li>verbes en -ER : radical + o, es, e, emos, éis, en. (como, comes, come, comemos, coméis,
            comen)
        </li>
        <li>verbes en -IR : radical + o, es, e, imos, ís, en. (vivo, vives, vive, vivimos, vivís,
            viven)
        </li>
        <li>Irréguliers
        </li>
    </ul>
</div>
</body>
</html>