<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Pretérito indefinido</h1>
<div><h2>Terminasions:</h2>
    <ul>
        <li>verbes en -AR : radical + é, aste, ó, amos, asteis, aron. (hablé, hablaste, habló,
            hablamos, hablasteis, hablaron)
        </li>
        <li>verbes en -ER et -IR : radical + í, iste, ió, imos, isteis, ieron. (comí, comiste, comió,
            comimos, comisteis, comieron)
        </li>
        <li>Irréguliers
        </li>
    </ul>
</div>

</body>
</html>