/*Header*/
   
    .navbar {
      background: linear-gradient(to right, #f97316, #fb923c);
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px;
      padding-left: 20px;
      padding-right: 20px;
      height: 60px;
    }
  
    
    .navbar-left {
      display: flex;
      align-items: center;
    }
    
    .navbar-left a {
      display: flex;
      align-items: center;
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size: 2rem;
    }
    
    .navbar-left img {
      margin-right: 10px;
      height: 50px;
    }
    
    .navbar-right {
      display: flex;
      align-items: center;
    }
  
    .flags {
      display: flex;
      align-items: center;
    }
  
    .flags img {
      border: 2px solid #fff;
      border-radius: 16px;
      margin-right: 20px;
      height: 50px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
      transform: scale(1);
      transition: box-shadow 0.2s ease, transform 0.2s ease;
    }
  
    .flags img:hover {
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.4);
      border-radius: 16px;
      transform: scale(1.1);
      }
  
    .interactionButtons {
      display: flex;
      align-items: center;
    }
  
    
    .connexion-button {
      color: #e1550e;
      border: 1px solid #fff;
      padding: 10px 40px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 24px;
      font-size:16px;
      background-color: #fff;
      margin-right: 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.2s ease;
    }
  
    .connexion-button:hover {
      background-color: #f7f1f1;
      color: #e86828;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
      }
  
    .github-button {
      border: 1px solid #fff;
      border-radius: 24px;
      padding: 10px 40px;
      font-weight: bold;
      cursor: pointer;
      font-size:16px;
      background-color: transparent;
      margin: 0px 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.2s ease;
    }
  
    .github-button a  {
      text-decoration: none;
      color: #fff;
      font-weight: bold;
      font-size:1rem;
    }
  
    .github-button:hover {
      background-color: #fff;
      color: #e1550e;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
    }
  
    .github-button:hover a{
      color: #e1550e;
    }


.menu {
    display: none;
}

.menu-burger {
  display: none;
}

@media screen and (max-width:930px){

    .interactionButtons {
        display: none;
    }

    .flags {
        display: none;
    }

    .menu-burger {
        display: flex;
      }
    
    .menu-burger img {
        height: 40px;
    }

      .menu {
        width: 320px;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: #fff;
        transition: right 0.5s ease;
        border-top-left-radius: 16px;
        box-shadow: -10px 0px 10px -10px rgba(0, 0, 0, 0.3);
        padding: 10px;
      }
    
    .back-arrow {
        position: absolute;
        top: 24px;
        right: 24px;
        margin: -8px;
        padding: 8px;
        line-height: 0;
        pointer-events: auto;
        cursor: pointer;
      }

      .menu ul {
        list-style-type: none;
        padding: 10px 20px 10px;
        margin-top: 40px;
      }

      .menu span {
        margin-left: 20px;
      }

      .menu span, .menu img {
        vertical-align: middle;
      }

      .menu li {
        border: 0px solid;
        border-radius: 14px;
        padding: 10px 25px;
        cursor: pointer;
        font-size:18px;
        background-color: transparent;
        transition: background-color 0.2s ease;
      }
    
      .menu li:hover {
        border: 0px solid;
        background-color: #fb923c43;
      }
    
      
    .menu ul a {
        text-decoration: none;
        color: #5d5d5d;
        display: block;
        transition: 0.2s;
    }

    .menu ul a:hover {
        color: #f97316;
      }


    .menu img {
        height: 30px;
    }

    .interactionButtons-burger {
        padding: 10px 20px 10px;
    }

    .github-button-burger {
        padding: 10px 20px 10px;
        margin-bottom: 15px;
        border: 0px solid;
        border-radius: 14px;
        padding: 10px 25px;
        cursor: pointer;
        font-size:18px;
        background-color: transparent;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
        transition: background-color 0.2s ease, box-shadow 0.2s ease;
        text-align: center;
    }

    .github-button-burger a {
        text-decoration: none;
        color: #f97316;
    }

    .connexion-button-burger {
        padding: 10px 20px 10px;
        border: 0px solid;
        border-radius: 14px;
        padding: 10px 25px;
        cursor: pointer;
        font-size:18px;
        color: #fff;
        background-color: #f97316;
        transition: background-color 0.2s ease;
        text-align: center;
        text-decoration: none;
    }

    .github-button-burger:hover {
        border: 0px solid;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3); 
    }

    .connexion-button-burger:hover {
        background-color: #e86828;
        color: #fff;
        box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3); 
    }

    /* Active class */
    .menu.active {
        display: block;
    }
  
    /* Close btn */
    .menu .close {
        display: none;
    }

}

