
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

html {
	font-size:16px;
  }

body {
	margin: 0;
    padding: 0;
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

/**Navbar**/

.sticky {
    position: sticky;
    top:0px;
  }


  
  .navbar {
    background: linear-gradient(to right, #ef3939, #FF416C);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
  }

  
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 2rem;
  }
  
  .navbar-left img {
    margin-right: 10px;
    height: 50px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }

  
  .connexion-button {
    border: 1px solid #fff;
    color: #da3240;
    padding: 10px 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 24px;
    font-size:16px;
    background-color: #fff;
  }


  .github-button {
    border: 1px solid #fff;
    padding: 10px 40px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 24px;
    font-size:16px;
    margin: 0px 20px;
    ;
  }

  .github-button a  {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size:1rem;
  }

  .navbar-button:hover {
    background-color: #f0e1e1;
    color: #da3240;
  }



  
/**Main****/


* {
	box-sizing: border-box;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
    margin: 0;
    text-align: center;
    font-size: 1.5rem;
	  color:#da3240;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #FF4B2B;
	background-color: #FF4B2B;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
    margin: 10px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 90ms ease-in;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.ghost {
	background-color: transparent;
	border-color: #FFFFFF;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

input {
	background-color: #eee;
	border: none;
    border-radius: 8px;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

.container {
	background-color: #fff;
	border-radius: 10px;
  	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 
			0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 900px;
	max-width: 100%;
	min-height: 500px;
}

.form-container {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.3s ease-in-out;
}

.sign-in-container {
	left: 0;
	width: 50%;
	z-index: 2;
}

.container.right-panel-active .sign-in-container {
	transform: translateX(100%);
}

.sign-up-container {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.container.right-panel-active .sign-up-container {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: show 0.3s;
}

@keyframes show {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.overlay-container {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.3s ease-in-out;
	z-index: 100;
}

.container.right-panel-active .overlay-container{
	transform: translateX(-100%);
}

.overlay {
	background: #FF416C;
	background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
	background: linear-gradient(to right, #FF4B2B, #FF416C);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.3s ease-in-out;
}

.container.right-panel-active .overlay {
  	transform: translateX(50%);
}

.overlay-panel {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transform: translateX(0);
	transition: transform 0.3s ease-in-out;
}

.overlay-left {
	transform: translateX(-20%);
}

.container.right-panel-active .overlay-left {
	transform: translateX(0);
}

.overlay-right {
	right: 0;
	transform: translateX(0);
}

.container.right-panel-active .overlay-right {
	transform: translateX(20%);
}

.social-container {
	margin: 20px 0;
}

.social-container a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}