.userInfos {
    background-color: #fff;
    color: #585656;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 60px;
    padding-bottom: 60px;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.userInfos h1, h2 {
    margin: 0;
}

.userInfos h1 {
    font-size: 2rem;
}
.userInfos h2 {
    font-size: 1.5rem;
    font-weight: normal;
}

.userInfosContainer .icon {
    height: 25px;
    margin-right: 10px;
}

.userInfosContainer, .userInteraction {
    width: 35%;
}

#userIcon {
    width: 150px;
    height: 150px;
    margin-right: 60px;
    border-radius: 50%;
    vertical-align: middle;

}
.userInfoFields {
    display: inline-block;
    vertical-align: middle;
}

.userInfoFields p {
    margin: 0;
    font-size: 18px;
}

.userInfosProfile, .userInfosCreationDate, .userInfosEtablissement {
    display: flex;
    margin-bottom: 10px;
    vertical-align: middle;
}



/*User Interaction**/

.userInteraction {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .userInteraction button {
    color: #fff;
    background: -webkit-linear-gradient(to right, #f97316, #fb923c);
	background: linear-gradient(to right, #f97316, #fb923c);
    border: none;
    border-radius: 18px;
    font-size: 0.8rem;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    padding: 15px 15px;
    margin: 10px 0;
    width:230px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
    transition: all 0.2s ease-in-out;
  }
  
  .userInteraction button:hover {
    transform: translateY(-2px);
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.3);
  }
  
  .userInteraction .icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    vertical-align: middle;
  }

  




.bottomContainer {
    margin: 0 auto;
    max-width: 1056px;
    padding-top: 40px;
    width: 100%;
    display: flex;
    text-align: center;
}


.userCaracteristics {
    display: flex;
    justify-content: center;
}

.userStats {
    margin: 20px;
    display:flex;
    flex-direction: column;
    
}

.userStats h2 {
    margin-bottom: 20px;
    text-align: left;
}

.userStats p {
    font-size: 18px;
    margin: 0;
    color: #333232;
}

.statsUp, .statsDown {
    display: flex;
}

.statsUp {
    margin-bottom: 20px;
}

.statElement {
    padding: 25px;
    border: 1px solid #c8c8c8;
    border-radius: 22px;
    margin-right: 20px;
    width: 250px;
    text-align: left;
}


.leaderboard{
    border: 1px solid #c8c8c8;
    border-radius: 24px;
    width:350px;
    height:500px;
    background-color: #928e8e;
}