html {
  font-size:18px;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'M PLUS 1p', Arial, Helvetica, sans-serif;
    margin-top: 90px;
    background-color: #f9f6f4;
  }



.qcm-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin:10px
}

.message {
  text-align: center;
  margin-bottom: 20px;
}

.buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
}

.buttons a {
	text-align: center;
}

button {
    border: 0px solid;
    padding: 14px 40px;
    margin: 20px 20px;
    font-weight: bold;
    font-size: 1rem;
    cursor: pointer;
    border-radius: 16px;
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.3);
    transition: background-color 0.2s ease, box-shadow 0.2s ease;
  background-color: 
}

.create-account-button, .access-answers-button {
      color: #fff;
      background-color: #e1550e;
      padding: 10px 30px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 14px;
      font-size:16px;
      margin-right: 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.create-account-button:hover, .access-answers-button:hover {
     background-color: #f55402;
     box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}

.login-button {
      border-radius: 14px;
      color: #e1550e;
      padding: 10px 40px;
      font-weight: bold;
      cursor: pointer;
      font-size:16px;
      background-color: transparent;
      margin: 0px 20px;
      box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.2);
      transition: background-color 0.3s ease, box-shadow 0.2s ease;
}

.login-button:hover {
      background-color: #f0f0f0;
      box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.3);
}
