<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Conjug.fr est un site de conjugaison pour l'allemand. Révisez toutes les conjugaisons de verbes en allemand, et améliorez votre grammaire.">
  <meta name="keywords" content="conjugaison, allemand, verbes, grammaire, apprendre l'allemand, conjugaison de verbes en allemand, verbes réguliers en allemand, verbes irréguliers en allemand, temps verbaux en allemand, pronoms en allemand, conjugaison des verbes être et avoir en allemand, participe passé en allemand, conditionnel en allemand, subjonctif en allemand, impératif en allemand, auxiliaires en allemand, conjugaison en ligne, outil de conjugaison, exercices de conjugaison, pratiquer la conjugaison, exercice, révision">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>conjug.fr</title>
</head>

<body>

  {% include 'header.html' %}


    <h1>Arrive bientôt !</h1>

  <footer>
    <div class="container">
      <p>Réalisé par Cédric Soyer & Eliot Cupillard - Lycée Jules Ferry Cannes - 2023</p>
    </div>
  </footer>

</body>

</html>