<!DOCTYPE html>
<html lang="fr">

<head>

  {% include 'heritage_template/meta.html' %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/home.css')}}">

  <title>conjug.fr</title>
</head>

<body>

  {% include 'heritage_template/header.html' %}

    {% with messages = get_flashed_messages() %}
  		{% if messages %}
		<ul class=flashes>
    	{% for message in messages %}
            <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
        </ul>
		{% endif %}
	{% endwith %}

    <div class="sloganBox">
        <div class="slogan">
            <h1>✨ Plus d’excuse pour conjuguer, c’est gagné !</h1>
        </div>
    </div>

    <div class="languageContainer">
        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/spainFlag.png') }}"><h2>Espagnol</h2>
            </div>
            <p>Révisez toutes les conjugaisons de verbes réguliers et irréguliers en espagnol, et améliorez votre grammaire.</p>
            <div class="redirectButton"><a href="{{url_for('es')}}">S'entrainer</a></div>
        </div>
            
        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/germanyFlag.png') }}"><h2>Allemand</h2>
            </div>
            <p>Prochainement disponible !</p>
            <div class="redirectButton"><a href="{{url_for('de')}}">S'entrainer</a></div>
        </div>

        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/italyFlag.png') }}"><h2>Italien</h2>
            </div>
            <p>Prochainement disponible !</p>
            <div class="redirectButton"><a href="{{url_for('it')}}">S'entrainer</a></div>
        </div>

    </div>

    {% include 'heritage_template/footer.html' %}

</body>

</html>
