<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Conjug.fr est un site de conjugaison pour l'espagnol. Révisez toutes les conjugaisons de verbes réguliers et irréguliers en espagnol, et améliorez votre grammaire.">
  <meta name="keywords" content="conjugaison, espagnol, verbes, grammaire, apprendre l'espagnol, conjugaison de verbes en espagnol, verbes réguliers en espagnol, verbes irréguliers en espagnol, temps verbaux en espagnol, pronoms en espagnol, conjugaison des verbes être et avoir en espagnol, participe passé en espagnol, conditionnel en espagnol, subjonctif en espagnol, impératif en espagnol, auxiliaires en espagnol, conjugaison en ligne, outil de conjugaison, exercices de conjugaison, pratiquer la conjugaison, exercice, révision, conjugaison">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>conjug.fr</title>
</head>

<body>

  {% include 'heritage_template/header.html' %}
    
    <div class="sloganBox">
        <div class="slogan">
            <h1>✨ On cherche un slogan sympa pour notre site !</h1>
        </div>
    </div>

    <div class="languageContainer">
        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/spainFlag.png') }}"><h2>Espagnol</h2>
            </div>
            <p>Révisez toutes les conjugaisons de verbes réguliers et irréguliers en espagnol, et améliorez votre grammaire.</p>
            <div class="redirectButton"><a href="{{url_for('es')}}">S'entrainer</a></div>
        </div>
            
        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/germanyFlag.png') }}"><h2>Allemand</h2>
            </div>
            <p>Prochainement disponible !</p>
            <div class="redirectButton"><a href="{{url_for('de')}}">S'entrainer</a></div>
        </div>

        <div class="languageBox">
            <div class="boxHeader">
                <img src="{{ url_for('static', filename='img/flags/italyFlag.png') }}"><h2>Italien</h2>
            </div>
            <p>Prochainement disponible !</p>
            <div class="redirectButton"><a href="{{url_for('it')}}">S'entrainer</a></div>
        </div>

    </div>



  <footer>
    <div class="container">
      <p>Réalisé par Cédric Soyer & Eliot Cupillard - Lycée Jules Ferry Cannes - 2023</p>
    </div>
  </footer>

</body>

</html>
