<!DOCTYPE html>
<html lang="fr">

<head>

  {% include 'heritage_template/meta.html' %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/leaderboard.css')}}">
  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/searchBar.js') }}"></script>

  <title>Classement - conjug.fr</title>
</head>

<body>

    {% include 'heritage_template/header.html' %}

    <div class="search-container">
      <div class="searchbar-container">
        <input class="searchbar" id="searchbar" onkeyup="searchUsername()" type="search" name="search" placeholder="Rechercher un utilisateur">
      </div>
    </div>

    <div class="leaderboard-tabs-container">
      <div class="leaderboard-tab active-tab" data-tab="month">Classement du mois</div>
      <div class="leaderboard-tab" data-tab="global">Classement général</div>
    </div>
    
    <div class="leaderboard-container">
      <div class="leaderboard-content active-content" id="month">
        <!-- contenu du leaderboard du mois ici -->
      </div>
      <div class="leaderboard-content" id="global">
        <!-- contenu du leaderboard général ici -->
      </div>
    </div>

    <div class="leaderboard-container">

      <div class="month-leaderboard-container">
        <div class="month-leaderboard">
          <h2>Classement du mois</h2>
          <ol>
              {%for user, image, index in utilisateurs.items() %}
              <a href="{{url_for('username_route', username=user)}}">
              <li class="userBox">
                  <div class="userBoxRank">
                    <span>
                      1.
                    </span>
                  </div>
                  <div class="userBoxImage">
                      <img src={{image}}>
                  </div>
                  <div clas="userBoxName">
                      <span class="username">{{user}}</span>
                  </div>
              </li>
              </a>
              {%endfor%}
          </ol>
        </div>
      </div>

      <div class="global-leaderboard-container">
        <div class="global-leaderboard">
          <h2>Classement général</h2>
          <ol>
              {%for user, image in utilisateurs.items() %}
              <a href="{{url_for('username_route', username=user)}}">
              <li class="userBox">
                  <div class="userBoxRank">
                    <span>
                      1.
                    </span>
                  </div>
                  <div class="userBoxImage">
                      <img src={{image}}>
                  </div>
                  <div clas="userBoxName">
                      <span class="username">{{user}}</span>
                  </div>
              </li>
              </a>
              {%endfor%}
          </ol>
        </div>
      </div>

    </div>

    {% include 'heritage_template/footer.html' %}

</body>

</html>