<!DOCTYPE html>

<html>

<head>

	{% include 'heritage_template/meta.html' %}

	<link rel="stylesheet" href="{{url_for('static', filename='css/login.css')}}">

	<script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/scriptLogin.js') }}"></script>
	
	<title>Connexion - conjug.fr</title>
  </head>

<body>

	{% include 'heritage_template/header.html' %}

	{% with messages = get_flashed_messages() %}
  		{% if messages %}
		<ul class=flashes>
    	{% for message in messages %}
            <p class="alert alert-success">{{ message }}</p>
            {% endfor %}
        </ul>
		{% endif %}
	{% endwith %}
	
<div class="container" id="container">
	<div class="form-container sign-up-container">
		<form action="{{url_for('signup')}}" method="post" name="signup" id="inscription">
			<h1>Créer un compte</h1>
			<div class="name">
				<input type="text" placeholder="Prénom" name="firstname" required/>
				<input type="text" placeholder="Nom" name="lastname" required/>
			</div>
			<input type="text" placeholder="Nom d'utilisateur" name="username" id="username" required/>
			<input type="text" placeholder="Nom de votre établissement (facultatif)" name="etablissement" />
			<input type="email" placeholder="Email" name="email" required/>
			<input type="password" placeholder="Mot de passe" name="password" id="password" required/>
			<button type="submit">S'inscrire</button>
		</form>
	</div>
	<div class="form-container sign-in-container">
		<form action="{{url_for('signin')}}" method="post" name="signin">
			<h1>Se connecter</h1>
			<input type="email" placeholder="Email" name="email" required/>
			<input type="password" placeholder="Mot de passe" name="password" required/>
			<a class="contact-link" href="https://github.com/Tezay/conjug/issues" target="blank">Un problème ? Nous contacter</a>
			<button type="submit">Connexion</button>
		</form>
	</div>
	<div class="overlay-container">
		<div class="overlay">
			<div class="overlay-panel overlay-left">
				<h1>Déjà un compte ?</h1>
				<p>Connectez à conjug.fr avec votre adresse email</p>
				<button class="ghost" id="signIn">Se connecter</button>
			</div>
			<div class="overlay-panel overlay-right">
				<h1>Pas encore de compte ?</h1>
				<p>Créer un compte dès maintenant pour enregistrer vos statistiques !</p>
				<button class="ghost" id="signUp">S'inscrire</button>
			</div>
		</div>
	</div>
</div>

</body>

</html>