<!DOCTYPE html>
<html lang="fr">
<head></head>
<body>
	<div class="container">
		<h1>Confirmation de création de compte</h1>
		<p>Bonjour {prenom} {nom},</p>
		<p>Votre compte a été créé avec succès sous le nom d'utilisateur "{username}" </p>
		<p>Pour confirmer la création du compte veuillez vous rendre sur <a href="conjug.fr/verif/{token}">conjug.fr/verif/{token}</a> .</p>
		<p>Nous vous remercions pour votre inscription et espérons que vous apprécierez notre service.</p>
		<p>Cordialement,</p>
		<p>L'équipe de conjug.fr</p>
	</div>
</body>
</html>
