<!DOCTYPE html>
<html lang="fr">

<head>

  {% include 'heritage_template/meta.html' %}

  <link rel="stylesheet" href="{{url_for('static', filename='css/searchBar.css')}}">
  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/searchBar.js') }}"></script>

  <title>Recherche - conjug.fr</title>
</head>

<body>

    {% include 'heritage_template/header.html' %}

    <div class="searchbar-container">
        <input class="searchbar" id="searchbar" onkeyup="searchUsername()" type="search" name="search" placeholder="Rechercher un utilisateur">
    </div>

    <div class="userList">
        <ol>
            {%for user, image in utilisateurs.items() %}
            <a href="{{url_for('username_route', username=user)}}">
            <li class="userBox">
                <div class="userBoxImage">
                    <img src={{image}}>
                </div>
                <div clas="userBoxName">
                    <span class="username">{{user}}</span>
                </div>
            </li>
            </a>
            {%endfor%}
        </ol>
    </div>

    {% include 'heritage_template/footer.html' %}

</body>

</html>