<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="Conjug.fr est un site de conjugaison pour l'espagnol. Révisez toutes les conjugaisons de verbes réguliers et irréguliers en espagnol, et améliorez votre grammaire.">
  <meta name="keywords" content="conjugaison, espagnol, verbes, grammaire, apprendre l'espagnol, conjugaison de verbes en espagnol, verbes réguliers en espagnol, verbes irréguliers en espagnol, temps verbaux en espagnol, pronoms en espagnol, conjugaison des verbes être et avoir en espagnol, participe passé en espagnol, conditionnel en espagnol, subjonctif en espagnol, impératif en espagnol, auxiliaires en espagnol, conjugaison en ligne, outil de conjugaison, exercices de conjugaison, pratiquer la conjugaison, exercice, révision, conjugaison">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/header.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='css/profileStyle.css')}}">
  <link rel="shortcut icon" href="{{url_for('static', filename='img/logo.png')}}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@800&display=swap" rel="stylesheet">

  <script defer="defer" language="JavaScript" src="{{ url_for('static', filename='js/script.js') }}"></script>
  <title>Profil - conjug.fr</title>
</head>

<body>

  {% include 'heritage_template/header.html' %}

    <div class="userInfos">
        <div class="userInfosContainer">
            <img src="https://cdn.discordapp.com/attachments/1098726716798673016/1099109424590757929/mexicain.png" alt="Logo" id="userIcon">
            <div class="userInfoFields">
                <div class="userInfosProfile">
                    <img src="{{ url_for('static', filename='assets/profile.svg') }}" class="icon" alt="Profile Icon">
                    <h1>{{username2}}</h1>
                </div>
                <div class="userInfosCreationDate">
                    <img src="{{ url_for('static', filename='assets/clock.svg') }}" class="icon" alt="Clock Icon">
                    <p>A rejoint le {{date_creation}}</p>
                </div>
                <div class="userInfosEtablissement">
                    <img src="{{ url_for('static', filename='assets/pin.svg') }}" class="icon" alt="Pin Icon">
                    <p>{{etablissement}}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="bottomContainer">
      <div class="userCaracteristics">
        <div class="userStats">
            <h2>Statistiques</h2>
            <div class="statsUp">
              <div class="statElement">
                <p>Jours de suite : {{day_streak}}</p>
              </div>
              <div class="statElement">
                <p>XP : {{xp}}</p>
              </div>
            </div>
            <div class="statsDown">
              <div class="statElement">
                <p>Place classement : {{classement}}</p>
              </div>
              <div class="statElement">
                <p>...</p>
              </div>
            </div>
        </div>
      </div>
      <div class="leaderboard">
        <!-- Importer depuis un fichier leaderboard.html -->
      </div>
    </div>




  <footer>
    <div class="container">
      <p>Réalisé par Cédric Soyer & Eliot Cupillard - Lycée Jules Ferry Cannes - 2023</p>
    </div>
  </footer>

</body>

</html>